* {
	background-color: darkgrayy;
	color: gray;
}

a {
	text-decoration: none;
}

a:hover {
	color: black;
}

body {
	padding: 0;
	margin:  0;
	width: 100%;
}

header {
	display: flex;
	max-width: 100%;
	height: 75px;
	justify-content: center;
	outline: 1px black solid;
	margin-left: 1px;
	margin-right: 1px;
	background-color: gray;

}

header h1 {
	text-align: center;
	width: 10em;
	height: 1.1em;
	font-size: 3em;
	padding: 2px;
	margin-top: 12px;
	background-color: blue;
	border-bottom-left-radius: 130px 60px;
	border-bottom-right-radius: 130px 60px;
}

nav {
	width: 100%;
	height: 10px;
	display: flex;
	background-color: red;
	justify-content: center;
}

nav ul {
	display: flex;
	width: 100%;
	height: 50px;
	list-style-type: none;
	background-color: red;

}

nav ul li {
	font-size: 1.7em;
	margin: 10px;
	
}