
a {
	text-decoration: none;
	background-color: red;
}

a:hover {
	color: red;
	background-color: blue;
	border-radius: 10px;
}

body {
	padding: 0;
	margin:  0;
	width: 100%;
}

header {
	display: flex;
	max-width: 100%;
	height: 75px;
	justify-content: center;
	outline: 1px black solid;
	margin-left: 1px;
	margin-right: 1px;
	background-color: gray;

}

header h1 {
	text-align: center;
	width: 10em;
	height: 1.1em;
	font-size: 3em;
	padding: 2px;
	margin-top: 12px;
	background-color: blue;
	border-bottom-left-radius: 130px 60px;
	border-bottom-right-radius: 130px 60px;
}

nav ul {
	display: flex;
	width: 100%;
	max-width: 100%;
	height: 40px;
	border-bottom: black 1px solid;
	list-style-type: none;
	background-color: red;
	margin-top: 1px;
	padding: 5px 0px;

}


nav ul li {
	display: flex;
	font-size: 1.5em;
	margin-left: 5em;
	margin-right: 5em;
	margin-top: 6px;
	
	
}

article
{
	display: flex;
	max-width: 55%;
	height: 400px;
	max-height: 400px;
	padding: 0;
	margin: 0;
}

article section 
{
	display: flex;
	border: blue 2px solid;
	margin: 10px;
	padding: 10px;
	padding: 1px;
	margin: 1px;
	background-color: darkgray;

}

article section p
{
	width: 100%;
	padding: 8px;
	margin: 10px;
	color: darkgray;
	background-color: blue;
	text-align: left;
	font-size: 1.7em;
	margin: 10px;
	padding-left: 20px;
	padding-right: 20px;
	
}

